:root {
    --c-primary:#fff;
    --c-secondary:#231f20;
    --c-tertiary: #ed1c24;
    --c-highlight:#4db848;

    --space: 1em
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font: 1em / 1.5  Helvetica, Arial, sans-serif    ;
    margin: 0;
    padding: 0;
    background-color: var(--c-primary);
    color: var(--c-secondary);
}
body > * {
    padding:var(--space);
    max-width:60rem;
    margin:0 auto;
}
h1 {
    margin:0;
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}
h1, h2 {
    font-weight: normal;
    color:var(--c-highlight);
    font-family: 'Montserrat', sans-serif;
}

a {
    color: var(--c-tertiary);
    transition: .25s;
}
a:hover, a:focus {
    color: var(--c-secondary);
}
ul {
    list-style:none;
    padding:0;
}
li {
    position:relative;
    padding-left: calc(var(--space) * 2);
    padding-bottom: calc(var(--space)) ;
}
li > svg {
    position:absolute;
    left:0;
    top: -.5rem;
}
img {
    max-width: 100%;
}
em {
    font-style: normal;
    font-weight:bold;
    padding:calc(var(--space) / 8);
    white-space: nowrap;
    border-radius:.15rem;
}
blockquote {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding:var(--space);
    background-color: var(--c-secondary);
    color:var(--c-primary);
    margin:0;
}
cite {
    display:block;
    font-size: 1rem;
}
header {
    display:flex;
    flex-wrap:wrap;
    align-items: flex-end;
}
header img {
    width:20rem;
    margin-left: calc(var(--space) / 2);
}
header p {
    font-style: italic;
    margin: 0;
}
nav {
    width:100%
}
nav ul {
    display:flex;
    margin: calc(var(--space) * 2) calc(var(--space) * -1) 0;
    background-color: var(--c-highlight);
    padding:0 ;
    overflow-x:scroll;
    width:calc(100% + calc(var(--space) * 2));
    scroll-snap-type: x mandatory;
}
nav ul li {
    padding:0;
    scroll-snap-align: center;
}
nav a {
    display:block;
    text-decoration: none;
    display:flex;
    align-items: flex-end;
    padding:var(--space) calc(var(--space));
    white-space: nowrap;
    color:var(--c-secondary)
}
nav a:hover {
    background-color: var(--c-tertiary);
    color: var(--c-primary);
}
nav a span {
    line-height:1
}
main > a {
    color:currentColor;
    position: fixed;
    right:1rem;
    bottom:1rem;
    background-color:var(--c-highlight);
    display:block;
    padding:calc(var(--space) / 2);
    border-radius:.5rem;
    text-decoration: none;
    transition:.25s;
}
main > a:hover {
    background-color: var(--c-tertiary);
    color:var(--c-primary);
}
section {
    margin:0
}

footer {
    padding-bottom: 5rem;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
@media (min-width:50rem) {
    body {
        font-size: 1.25em;
    }
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    blockquote {
        font-size: 2rem;
    }
}

